button {
    font-size: 30px;
    text-align: center;
    padding: 20px 10px;
    display: block;
    margin-bottom: 8px;
    background-color: rgb(224, 141, 245);
    color: white;
    
}

.button1:hover {
    background-color: rgb(129, 63, 160);
    color: black;
}
.button2:hover {
    background-color: rgb(129, 63, 160);
    color: black;
}

.button3:hover {
    background-color: rgb(129, 63, 160);
    color: black;
}


h1 {
    font-size: 50px;
    text-align: center;
}

h2, .las1 {
    color: rgb(221, 104, 9);

}

ul {
    background-color: black;
    color: blueviolet;
}

ol{
    color: rgb(182, 11, 11);
    font-weight: 800;
}

.corn1{
    color: rgb(158, 158, 10);
    font-weight: 600;
}

.strom1 {
    color: rgb(189, 129, 139);
    font-weight: 200;
}

* {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
html {
    background-color: black;
}
