.link {
    color: blueviolet;
    background-color: rgb(0, 0, 0);
    font-size: 24px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2, .las1 {
    color: rgb(221, 104, 9);

}

ul {
    background-color: black;
    color: blueviolet;
}

ol{
    color: rgb(182, 11, 11);
    font-weight: 800;
}

.corn1{
    color: rgb(158, 158, 10);
    font-weight: 600;
}

.strom1 {
    color: rgb(189, 129, 139);
    font-weight: 200;
}

.link, h1, h2, ul, ol, .las1, .corn1, .strom1  {
    font-family: 'Times New Roman', Times, serif;
}